{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Index</th>
        <th scope="col">Height(Inches)</th>
        <th scope="col">Weight(Pounds)</th>
    </tr>
    </thead>
    <tbody>
    {% for Index in hwData %}
    <tr>
        <td><a href="view/{{hwData}}">{{ hwData.fldIndex }}</a></td>
        <td>{{ hwData.fldIndex }}</td>
        <td>{{ hwData.fldHeight(Inches) }}</td>
        <td>{{ hwData.fldWeight(Pounds) }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
